  
body {
  font-family: "Nunito-sans", sans-serif;
  color: #1a1a1a;
}

a {
  color: ;
}

a:hover {
  color: ;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
  color:#4d4d4d;
}

/*# Back to top button*/


.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #9772D2;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2d184e;
  transition: background 0.2s ease-in-out;
}



/*# Header*/

#header {
  height: 85px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: transparent;
}
#headers {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled {
  background: #fff;
  height: 70px;
  padding: 10px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}
#headers .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}
  

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
  #headers .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

#main {
  margin-top: 80px;
}

/*# Navigation Menu*/

/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  padding: 10px 0 10px 28px;
}


.nav-menu a {
  display: block;
  position: relative;
  color: #4d4d4d;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.logo {
  opacity: 0;
  transition: opacity 100ms;
}


.header-scrolled .logo {
  opacity: 1;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  color: #9772D2;
 }

#header.header-scrolled a {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 500;
}

#header.header-scrolled .active a {
  color: #2d184e;
  }

.nav-menu .active > a {
  color: #2d184e;
  text-decoration: none;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #9772D2;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 25px;
}

#headers .logo {
  opacity: 1;
  transition: opacity 100ms;
}

#headers a {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 500;
}



/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #01292a;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #d2ece9;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #9cd5ce;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(1, 41, 42, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



/*# Hero Section*/

#hero {
  width: 100%;
  height: 100vh;
  background: #f0ebf9 ;
  background-size: cover;
  position: relative;
  margin-bottom: -80px;
}

#particles-js{

position: absolute;
  width: 100%;
  height: 100%;
}


#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .row{
  display: flex;
}

#hero h2 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  }

#hero h3 {
  
  color: #3E3E3E;
  font-size: 24px;
  font-weight: 500;
  padding-top:2vw;
  text-align: center;
  justify-content: center;
}

.hero-img {
  
  width:80%;
  height: auto;
  padding-bottom:2vw;
}

#hero p {
  text-align: left;
  padding-top: 1vw;
  font-size: 20px;
  color:#595959;
  box-sizing: border-box;

}

#hero .intro {
  padding-right: 200px;
}

#hero .logo-part {
  padding-left: 100px;
}

#hero .social-links a {
  font-size: 20px;
  color: #9772D2;
  padding: 8px;
  text-align: center;
  transition: 0.3s;
  
}


#hero .social-links a:hover {
  color: #2d184e;
}

.centerBlock {
  display: table;
  margin: auto;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 24px;
    line-height: 36px;
  }
  #hero h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .hero-img{
    width:70%;
  height: auto;
  padding-top:10vw;}

  #hero p {
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
}
}



/*# Sections General*/

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #eef7f6;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #9772D2;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}



/*# Vision*/

.vision {
  
  background-size: cover;
  padding: 40px 0 ;
  background-color: #fff;
}


.vision p {
  font-size: 20px;
}



/* # Activities */

.services .icon-box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: 0  0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: #2d184e;
}
.services img {
  width: 40%;
  height: auto;
}


.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

/* Calendar*/

.calendar{
  background-color: #fff;
}

iframe {
width: 10px !important;
min-width: 100%;
*width: 100%;
}

 

.responsive {
width: 100%;
height: 0;
padding-bottom: 56.25%;
position: relative;
}

 

.responsive iframe {
position: absolute;
width: 100%;
height: 100%;
}

/*
# Events
*/

.about .row{
  margin-bottom: 80px;
}

.events .icon-box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: 0  0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.events img {
  width: 30%;
  height: auto;
  padding:10px;
}


.events .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.events .title a {
  color: #111;
}

.events .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}


/*# Our Team*/


.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  font-color: #aaaaaa;
}

.team .member span {
  display: block;
  font-size: 16px;
}


.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #9772d2;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #2d184e;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*# Contact Us*/

#contact{
  background-color: #f0ebf9;
}
.contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  color: #70b9b0;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  color: #888;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 20px;
  color: #9772D2;
  padding: 8px;
  text-align: center;
  transition: 0.3s;
  
}

.contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.contact .social-links a:hover {
  color: #2d184e;
}

.contact .info {
  color: #777;
}

.contact .info i {
  font-size: 32px;
  color:#9772D2; 
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #2d184e;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form button[type="submit"] {
  background: #9772D2;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #2d184e;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*
# Footer
*/

#footer {
  background: #2d184e;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
